[user]
	name = Shu Takayama
	email = syu.takayama@gmail.com
	signingKey = 655C614BC5509DDCE5D6E7B6B4C0E3634D1D7747
[color]
	ui = auto
[fetch]
	prune = true
[alias]
	graph = log --graph
	diffcached = diff --cached
[url "git@git.trapti.tech:"]
	insteadOf = https://git.trapti.tech/
