[user]
	name = Syu Takayama
	email = syu.takayama@gmail.com
[color]
	ui = auto
[core]
	editor = nvim
[fetch]
	prune = true
[alias]
  co = checkout
  graph = log --graph
  diffi = diff --cached
  diffw = diff --word-diff
