[user]
	name = Shu Takayama
	email = syu.takayama@gmail.com
	signingKey = 9B2DA63AEF9CC087BE556675ABA88E31E0128FD0
[fetch]
	prune = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
